body {
    background-color: skyblue;
}
button {
    background-color: darkblue;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.progress-container {
    width: 70%;
    margin: 20px auto;
}

.progress-bar {
    height: 30px;
    background-color: #f8f9fa;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar-fill {
    background-color: #007bff;
    height: 100%;
    border-radius: 15px;
    transition: width 0.3s ease-in-out;
}
.container {
    margin-top: 100px;
}
.jumbotron {
    background-color: #343a40;
    color: #fff;
    padding: 2rem 2rem;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.container {
    padding-top: 10px; /* Ajustez cette valeur pour remonter la navbar */
}
.text-left
{
    top:-30px;
    left:0px;
    width: 200px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: left bottom ;
    position:absolute;
}
.table-responsive {
    background-color: white;
    justify-content: center;
}