{% extends 'base.html.twig' %}

{% block title %}Nouvelle note{% endblock %}

{% block body %}
    <h1>Ajouter une note</h1>
    <div class="mt-5">
    {{ include('note/_form.html.twig') }}

    <a href="{{ path('app_note_index') }}" >Retour</a>
    </div>
{% endblock %}
